# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
out
.turbo

# Env
.env
.env*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
*.log

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Testing
coverage
